__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
*.Zone.Identifier
# Ignore data files but track the directory and its README
data/*
!data/README.txt

# Ignore output files but track the directory and its README
outputs/*
!outputs/README.txt
docs/_build/
